@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	margin: 0;
}
.container-fluid{
	width: 100%;
	display: inline-flex;
	justify-content: center;
}
.container{
	width: 100%;
	max-width: 1320px;
	padding: 0 10px;
	box-sizing: border-box;
}
.header{
	padding-top: 29px;
	background: #F6F2F2;
}
.header nav{
	background: #000;
	margin: 0 25px;
	padding-right: 50px;
	display: flex;
	justify-content: center;
}
.header a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	color: #E0E0E0;
	text-decoration: none;
	display: inline-block;
	padding: 39px 24px 25px;
	transition: background 0.3s ease;
}
.header a:hover{
	background: #FF3F40;
}
.baner{
	background: #F6F2F2;
	padding-top: 100px;
	padding-bottom: 110px
}
.container-padding-35{
	padding: 0 35px;
}
.baner h2{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #000000;
	width: 100%;
}
.baner p{
	max-width: 550px;
	margin-top: 36px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
}
/*.baner iframe{
	float: right;
}*/
.baner .button{
	margin-top: 61px;
}
.button{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0412px;
	line-height: 34px;
	letter-spacing: 0.3195px;
	color: #FFFFFF;
	padding: 10px 64px 12px;
	background: #FF2D2D;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
}
.button.button-white{
	border: 2px solid #FF2D2D;
	color: #FF2D2D;
	background: #fff;
	padding: 0 60px;
	line-height: 52px;
}
.provide{
	padding-top: 105px;
	padding-bottom: 110px;
}
.provide .container{
	display: flex;
}
.provide h2{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42.1902px;
	line-height: 55px;
	letter-spacing: 0.422159px;
	text-transform: uppercase;
	color: #000000;
}
.provide-content p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	margin-top: 40px;
}
.provide .button{
	margin-top: 63px;
}
/*.provide-items{
	display: grid;
	grid-template-columns: 300px 300px;
	grid-row-gap: 45px;
	grid-column-gap: 20px;
}*/
.provide-item p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	margin-top: 10px;
}
.provide-item .title{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 33px;
	letter-spacing: 0.271838px;
	color: #000000;
	margin-top: 34px;
}
.main-line{
	width: 1250px;
	height: 2px;
	background: #ECECEC;
	border: none;
	margin-bottom: 100px;
}
.product .container{
	display: block;
	justify-content: center;
}
.product-content{
	margin: auto;
}
.product h2{
	width: 430px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	line-height: 57px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
	margin: auto;
	text-align: center;
}
.product p{
	width: 537px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	text-align: center;
	margin: auto;
	padding-top: 5px;
}
.small-line{
	width: 130.32px;
	height: 2.19px;
	background: #FF2D2D;
	margin-top: 35px;
	border: none;
}
.link{
	padding-top: 71px;
	text-align: center;
}
.product-link{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 0.22px;
	text-transform: uppercase;
	color: #000000;
	padding: 0 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background 0.3s ease;
}
.product-link:hover{
	color: #FF2D2D;
}
.product-images{
	padding-top: 23px;
	margin: 0;
	/*display: grid;
	grid-template-columns: repeat(4, 300px);
	grid-template-rows: repeat(2, 240px);
	grid-row-gap: 21px;
	grid-column-gap: 15px;*/
	max-width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.photo{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.team-content{
	margin-top: 122px;
	margin-right: 30px;
}
.team-content h2{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	line-height: 57px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
}
.team-content p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	padding-top: 17px;
	padding-bottom: 35px;
}
.small-line.team{
	margin: 0;
}
.team-profile{
	display: flex;
	margin-right: 30px;
	margin-top: 66px;
	margin-bottom: 106px;
}
.team-big-photo{
	width: 311px;
	height: 461px;
}
.mark-profile{
	display: block;
	margin-left: 60px;
}
.mark-profile h3{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 30.127px;
	line-height: 41px;
	letter-spacing: 0.275265px;
	text-transform: uppercase;
	color: #000000;
}
.mark-profile p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	margin-top: 25px;
	width: 665px;
}
.messenger{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.9px;
	color: #000000;
	text-decoration: none;
	margin-right: 20px;
}
.grid-profile{
	/*display: grid;
	grid-template-columns: repeat(4, 204px);
	grid-template-rows: 163px;
	grid-column-gap: 21px;*/
	box-sizing: border-box;
	margin-top: 29px;
	margin-bottom: 50px;
}


.team-link{
	margin-top: 40px;
}
.button-grey{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18.0762px;
	line-height: 25px;
	letter-spacing: 0.165159px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 6px 53px 8px;
	background: #000000;
	opacity: 0.5;
	text-decoration: none;
}
.deliver{
	background-image: url(img/backimg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000000;
	opacity: 0.8;
	width: 100%;
	height: 516px;
}
.deliver-content{
	display: block;
	width: 100%;
	height: 100%;
}
.deliver-content h2{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 56px;
	text-align: center;
	letter-spacing: 1.05px;
	color: #FFFFFF;
	padding-top: 151px;
}
.deliver-content p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 16px;
}
.deliver-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}
.form-mail{
	width: 524px;
	height: 79px;
	margin-right: 19px;
	border: none;
	border-radius: 4px;	
	padding-left: 38px;
}
.button-deliver{
	width: 217px;
	height: 82px;
	background: #FF2D2D;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17.9026px;
	line-height: 34px;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	border-radius: 4px;
}
.form-mail:focus {
	outline: none;
}
.form-mail:focus::-webkit-input-placeholder{
	color: transparent;
}
.form-mail::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #2C2C2C;
}
.touch{

	position: relative;
}
.touch-content{
	margin-top: 129px;
	margin-right: 30px;
	width: 735px;
}
.t-cont h2{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 41.48px;
	line-height: 57px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
}
.t-cont p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	padding-top: 17px;
	padding-bottom: 35px;
}

.form{
	margin-top: 73px;
	width: 100%;
}
.txt{
	max-width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.text.ph{
	margin-left: 51px;
}
.text{
	width: 342px;
	height: 71px;
	border-radius: 10px;
	background: #E6E6E6;
	padding-left: 48px;
	font-family: 'Open Sans', sans-serif;
	border: none;
}
.text:focus {
	outline: none;
}
.text:focus::-webkit-input-placeholder{
	color: transparent;
}
.text::-webkit-input-placeholder {
	font-style: normal;
	font-weight: normal;
	font-size: 15.9134px;
	line-height: 28px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}
.txt-ar{
	margin-top: 43px;
	width: 609px;
	height: 222px;
	border-radius: 10px;
	background: #E6E6E6;
	mix-blend-mode: normal;
	font-family: 'Open Sans', sans-serif;	
	padding-top: 30px;
	padding-left: 48px;
	border: none;

}
.txt-ar:focus {
	outline: none;
}
.txt-ar:focus::-webkit-input-placeholder{
	color: transparent;
}
.txt-ar::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9134px;
	line-height: 28px;
	color: #000000;
}
.btn{
	margin-top: 43px;
	border-radius: 5px;
	width: 100%;
	height: 75px;
	background-color: #FF3B3B;;
	border: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17.9026px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.square{
	/*position: absolute;
	right: 0;
	width: 580px;*/
	height: 495px;
	background-color: #2D2D2D;
	margin-top: 40px;
	margin-left: 50px;
}
.contact-square h3, p, a{
	color: #FFFFFF;
}
.contact-square h3{
	font-family: 'Open Sans', sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 17.9026px !important;
	line-height: 34px !important;
	letter-spacing: 0.317046px !important;
	text-transform: uppercase !important;
}
.contact-square p{
	font-family: 'Open Sans', sans-serif !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 28px !important;
	margin-top: 30px !important;
}
.contact-square{
	width: 285px;
	margin-top: 147px;
	margin-left: 81px;
}
.tel-con a{
	text-decoration: none;
}
.mail-con a{
	text-decoration: none;
}
.footer{
	margin-top: 82px;
	background-color: #313030;
	background-size: 100%;
}
.footer-content{
	width: 100%;
	height: 113px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.copyright p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #B8B8B8;
}
.link-messeng img{
	width: 33px;
	height: 33px;
	margin-right: 14px;
}
@media (max-width: 1000px){
	.txt-ar{
		width: 100%;
	}	
}
@media (max-width: 800px){
	.team-content{
		text-align: center;
	}
	.team.small-line{
		margin: auto;
	}
	.container-fluid.deliver{
		height: 100%;
	}

	.mark-profile {
		margin-left: 0;
	}
	
}
@media (max-width: 630px){
	.baner h2{
		word-wrap: break-word;
		font-size: 54px;
	}
	.header a{
		padding: 29px 15px 20px;
	}
	.product p{
		width: 100%;
	}
	.product h2{
		width: 100%;
	}
	.text{
		width: 100%;
		padding-left: 10px;
	}
	
}

@media (max-width: 520px){
	.baner {
		padding-top: 50px;
	}
	.header a{
		display: flex;
		padding: 29px 5px 20px;
		flex-wrap: wrap;
	}
	.contact-square{
		width: 100%;
		margin-left: 10px;
	}
	.container-padding-35{
		padding: 0 15px;
	}
	.team-big-photo{
		width: 100%;
	}
	.footer{
		height: 100%;
	}
	.link-messeng img{
	width: 20px;
	height: 20px;
	margin-right: 14px;
	}
	.header a{
		font-size: 8px;
	}
	.baner h2 {
		font-size: 40px;
		line-height: 50px;
		text-align: center;
	}
	.header nav{
		padding-right: 0;
		margin: 0;
	}
}